@import "tailwindcss";

.clip-curve {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

/* Target the dots container */
.slick-dots {
  bottom: 25px;
  /* Position */
}

/* Style individual dots */
.slick-dots li button:before {
  font-size: 12px;
  color: blue;
  opacity: 0.5;
}

/* Active dot */
.slick-dots li.slick-active button:before {
  color: red;
  opacity: 1;
}

/* Custom dot shapes */
.slick-dots li button:before {
  content: '●';
  /* or use '' to remove default */
  font-size: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}